<div class="pagination" *ngIf="count > 0">
	<div class="numbers">
    <button (click)="onFirst()" [disabled]="page === 1" [ngClass]="{ 'disabled': page === 1 }">|&#10094;</button>
		<button (click)="onPrev()" [disabled]="page === 1" [ngClass]="{ 'disabled': page === 1 }">&#10094;</button>
		<button>{{ page }}</button>
    <button (click)="onNext(true)" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage()}">&#10095;</button>
    <button (click)="onLast(true)" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage()}">&#10095;|</button>
    <form [formGroup]="paginationForm">
      <div class="page-size">
        <select class="select-style" formControlName="pageSize">
          <option *ngFor="let s of pageSizeList" [value]="s.size">{{s.size}}</option>
        </select>
        <span class="select-text">items per page</span>
      </div>
    </form>

  </div>
  <div class="description">
		<span class="page-counts">Showing items {{ getMin() }} - {{ getMax() }}</span>
	</div>
</div>