@import '../../../scss/variables';

.pagination {
    display: flex;
    line-height: 35px;
	width: 100%;
    padding: $base;
	background-color: $lightgrey;

	.description {
		position: relative;
	}

	.numbers {
		display: flex;
		flex-grow: 2;
		button {
			flex: 0 0 auto;
			outline: none;
			border: 0;
			padding: 0 ($base / 2);
			background: transparent;
			cursor: pointer;
			&.disabled {
				color: $midgrey;
			}
		}
		.page-size {
			margin-left: $base;
		}
		.select-text {
			margin-left: $base;
		}
	}
}