<div class="card">
  <div class="card-header">
    Bulk Update Qualified Parts
  </div>
  <div class="card-block">
    <form (ngSubmit)="saveBulk()" novalidate [formGroup]="bulkForm">

      <div class="form-group row">
        <label for="qplFlag" class="col-4 col-form-label">QPL Flag</label>
        <div class="col-8">
          <div class="col-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="qplFlag" formControlName="qplFlag" value="Yes"> Yes
                      </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="qplFlag" formControlName="qplFlag" value="No"> No
                      </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="birthDate" class="col-4 col-form-label">Expiration Date</label>
        <div class="col-8">
          <input class="form-control" type="date" value="expirationDate" formControlName="expirationDate">
        </div>
      </div>
      <div class="form-group row">
        <label for="relation" class="col-4 col-form-label">UPPAP Status</label>
        <div class="col-8">
          <select class="form-control" formControlName="status">
                      <option value="None" selected>None</option>
                      <option value="Full Approval">Full Approval</option>
                    </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="birthDate" class="col-4 col-form-label">UPPAP Expiration Date</label>
        <div class="col-8">
          <input class="form-control" type="date" value="uppapExpirationDate" formControlName="uppapExpirationDate">
        </div>
      </div>
      <div class="form-group row">
        <span style="margin-left:2%">    
              <button class="btn btn-primary" type="submit" [disabled]="!bulkForm.valid">
                Save  
              </button>
            </span>
        <span style="margin-left:2%">    
              <button class="btn btn-secondary" (click)="activeModal.dismiss('close')">
                Cancel  
              </button>
            </span>
      </div>
    </form>
  </div>
</div>