@import '../../scss/variables';
@import '../../scss/mixins';

.search-section {
    display: inline-block;
    text-align: right;
    line-height: 30px;
    width: 100%;
    padding: $base;
    margin-bottom: 5px;
    background-color: $lightgrey;

    .box { 
        padding: $base;
        border: 1px solid $table-border-color;
    }
    
}
.button-bulk {
    display: inline-block;
    text-align: right;
    line-height: 30px;
    width: 100%;
    padding: $base;
    margin-bottom: 5px;

}

.highlighted {
    background-color: gray;
    color: darkgray;
}
