<div class="container-fluid">
  <div class='row'>
    <h2 class='title'>View QPL List</h2>
  </div>
  <div class='row button-bulk'>
    <button class="btn btn-primary" (click)='showBulkUpdate()'>BULK UPDATE</button>
  </div>
  <div class='row'>
    <div class='search-section'>
      <input type='text' [(ngModel)]='listFilter' placeholder="Search.." /><a href="#" class="box"><i class="fa fa-search"></i></a>
    </div>
  </div>
  <div class="row">
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    <div class="table-responsive">
      <table *ngIf='qplList && qplList.length'>
        <thead>
          <tr>
            <th></th>
            <th>Part Number</th>
            <th>Part Revision</th>
            <th>Part Name</th>
            <th>Tool/Die Set Number</th>
            <th>QPL</th>
            <th>Open PO</th>
            <th>Part Jurisdiction</th>
            <th>Part Classification</th>
            <th>Supplier Company Name</th>
            <th>Supplier Company Code</th>
            <th>CTQ</th>
            <th>QPL Last Updated By</th>
            <th>QPL Last Updated Date</th>
            <th>uppapStatus</th>
            <th>uppapExpiresUtc</th>
            <th>uppapUpdatedBy</th>
            <th>uppapUpdatedDateUtc</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of qplList | qplFilter:listFilter' (click)="selectRow($event, item)"  [class.highlighted]="item.itemCheck===true">
            <td>
              <input type="checkbox" [(ngModel)]="item.itemCheck"/>
            </td>
            <td>
              {{item.partNumber}}
            </td>
            <td>
              {{item.revision}}
            </td>
            <td>
              {{item.partName}}
            </td>
            <td>
              {{item.toolDieSetNumber}}
            </td>
            <td>
              {{item.isQualified}}
            </td>
            <td>
              {{item.openPo}}
            </td>
            <td>
              {{item.jurisdiction}}
            </td>
            <td>
              {{item.classification}}
            </td>
            <td>
              {{item.supplierName}}
            </td>
            <td>
              {{item.supplierCodes}}
            </td>
            <td>
              {{item.ctq}}
            </td>
            <td>
              {{item.lastUpdatedBy}}
            </td>
            <td>
              {{item.lastUpdatedDateUtc | date: 'yMd'}}
            </td>
            <td>{{item.uppapStatus}}</td>
            <td>{{(item.uppapExpiresUtc | date:'yMd') || ""}}</td>
            <td>{{item.uppapUpdatedBy}}</td>
            <td>{{(item.uppapUpdatedDateUtc | date:'yMd') || ""}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <app-pagination (goNext)="onNext()" (goPrev)="onPrev()" (changePagesize)="changePagesize($event)" (goFirst)="onFirst()" (goLast)="onLast($event)"
      [page]="page" [pageSize]="limit" [count]="total" style="width:100%;"></app-pagination>
  </div>
</div>