@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin appearance($value) {
    -webkit-appearance: $value; 
    -moz-appearance: $value;
    appearance: $value; 
}

