$fa-font-path : '../../node_modules/font-awesome/fonts';
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$font-size: 14px;
$font-size-h2: 25px;

$base:10px;

$primary-color: #898989;
$secondary-color: #4c4c4a;

$grey50: #888888;
$lightgrey: #f2f2f2;
$midgrey: #cbcbcb;

$table-border-color: #ddd;
$table-hover-color:#E6E9F9;

$hyperlink-color:#BBBED5;
$hyperlink-hover-color: #656D9B;