/* You can add global styles to this file, and also import other style files */
@import './reset';
@import './variables';
@import './mixins';
@import '../../node_modules/font-awesome/scss/font-awesome';

body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: #fff;
    color: $primary-color;
    padding-left: $base + 30;
    padding-right: $base + 30;
    padding-top: $base;
}

h2 {
    font-size: $font-size-h2;
    color: $secondary-color;
    font-weight: normal;
}

a{
    color: $hyperlink-color;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $hyperlink-hover-color;
    }
}


table {
    border-collapse: collapse;
    width: 100%;
    th, 
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid $table-border-color;
    }
    th {
        background-color: $lightgrey;
    }
    tr {
        &:hover {
            background-color: $table-hover-color;
        }
    }

}

select {
    @include border-radius(3px);
    @include appearance(none);
    padding: 10px 70px 10px 13px !important; 
    max-width: 100%; 
    height: auto !important; 
    border: 1px solid $table-border-color; 
    background: url("../assets/image/selectbox_arrow.png") right center no-repeat; 
    background-color: #fff; 
    color: $primary-color; 
    line-height: 16px !important; 
}